{%extends 'base.html'%}
{% load static %}
{%block title%}Homepage{%endblock%}
{%block content%}
<img src="{% static 'raised-beds-with-hoops.jpg' %}">

<div>
<h3>Raised Bed Garden</h3>
<p>Instead of using pot for a plant's medium or cultivating on the ground, Raised Bed Gardener use a 'bed', which can be used to host many plants, raised above ground level.
<br>Raised Beds usually have multiple soil layer on top of a specialized bottom layer, which majorly consist of coral-like material like vermiculite, perlite, hydro-corals ... 
It will flood your crop with perks when applied, but the main purpose of bottom layer is to increased air circulation for plant's root and bottom surface, in order to achieve the goal of motivating soil micro-organism activity and fertility.
Hence, this style of gardening is immensely appreciated among organic-only farmers, who won't use any synthetic chemical fertilizers to poison the soil.</p>
<p>And especially, nothing sweeter then boosting your hard-earned crop by 40% - 60%  organically.</p>
<img src="{% static 'homepage2.png' %}">
</div>
{%endblock%}