{%extends 'base.html'%}
{% load static %}
{%block title%}Homepage{%endblock%}
{%block content%}
<span>City:<h2> {{city}}</h2></span>
<table>
    <tr>
        <th>Temperature:</th>
        <td>&nbsp{{temp}}*C&nbsp&nbsp&nbsp&nbsp</td>
        <th>Humidity:</th>
        <td>&nbsp{{humidity}}%</td>
    </tr>
</table>
<br />
{%for plant in object_list%}

    <div class="card">
        <div class="card-header">
            <table>
                <tr>
                    <td>
                        <img src="{% get_static_prefix %}{{ plant.plant }}_thumbnail.jpg" >
                        
                    </td>
                    <td><h3>&nbsp&nbsp{{plant.name}}</h3></td>
                </tr>
            </table>
        </div>
    <div class="card-body">
        <table>
            <tr>
              <th></th>
              <th>&nbsp</th>
              <th>Tolerance</th>
            </tr>
            <tr>
              <th>Temperature: &nbsp</th>
              <td> </td>
              <td>{{plant.minTemp}}*C - {{plant.maxTemp}}*C &nbsp&nbsp&nbsp&nbsp</td>
              <th>Harvest in:  &nbsp</th>
              <td>{{plant.fintime}}</td>
            </tr>
            <tr>
              <th>Humidity:</th>
              <td></td>
              <td>{{plant.minHumi}}% - {{plant.maxHumi}}%</td>
            </tr>
          </table>
    </div>
    <div class="card-footer">

        <p>
            <span class="font-weight-bold">

            </span>

        </p>
        </div>
    </div>
    
    <br />
{%endfor%}
{%endblock%}

